<h1>編集中</h1>

<%= form_for @post do |f| %>
<p>
	Title:<%= f.text_field :title %>
</p>
<p>
	Category:<%= f.text_field :category %>
</p>
<p>
	Body:<%= f.text_area :body%>
</p>
<p>
	<%= f.submit '保存する'%>
</p>
<% end %>
