<h1>投稿一覧</h1>
<% @posts.each do |post| %>
<h2><%= link_to post.title, post_path(post.id) %></h2>
<p>
	<%= post.body %>
</p>
<p>
	<%= post.category %>	
</p>
<p>
	<%= link_to '編集する', edit_post_path(post.id) %>
	<%= link_to '削除する', post_path(post.id), method: :delete%>
</p>
<% end %>
<%= paginate @posts %>